:root {

    /* Admin */
    --theme: #088395;
    --bg: #f2f4f7;
    --details: #e1e3e6;
    --text: #33372C;
    --error: #ff1100;

    /* Portfólio */
    --bgP: #0b0b0b;
    --detailsP: #0e0e0e;
    --textP: #c3c3c3;

    /* Geral */
    --rounded: 8px;

}