@import "./styles/Variables.css";

/* Reset das configurações */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

/* Dashboard */
@font-face {

    font-family: "Title";
    src: url("./assets/fonts/Title/OpenSans-Bold.ttf");

}
@font-face {

    font-family: "Text";
    src: url("./assets/fonts/Text/OpenSans-Medium.ttf");

}

/* Portfólio */
@font-face {

    font-family: "TitleP";
    src: url("./assets/fonts/Title/OpenSans-Bold.ttf");

}
@font-face {

    font-family: "TextP";
    src: url("./assets/fonts/Title/OpenSans-Bold.ttf");

}

body {

    background-color: var(--bg);
    font-family: "Text";
    color: var(--text);
    overflow-x: hidden;

}

/* Errors */
.inputError {

    border-color: var(--error) !important;

}
.textError {

    color: var(--error);
    font-size: 12px;

}
